node_modules/

.expo/
dist/
web-build/

*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

.claude/

.metro-health-check*

npm-debug.*
yarn-debug.*
yarn-error.*

.DS_Store
*.pem

.env*.local

*.tsbuildinfo

*.aab
*.apk
*.zip
/android
/ios
/android/**

!modules/*/android/
!modules/*/android/**
!modules/*/ios/
!modules/*/ios/**

modules/*/android/build/
.node_modules
node_modules
dist
*.swp

docker-compose.override.yml
